*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-wrap: normal;
}
.tag .muiten {
    color:#4CAF50;
}
.fa-arrow-right-long{
    margin: 1.2rem 0;
}
img {
    width: 100%;   
}
body{
    /* margin-top: 20px; */
    background-color: #f8f9fa !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* border: 1px solid #ffffff;
    background-color: #f3f3f3; */
}     
li a {
    display: block;
    color: #666;
    text-decoration: none;
    /* margin: 0 2rem; */
}    
li a:hover:not(.active) {
    background-color: #ddd;
}     
li a.active {
    color: white;
    background-color: #4CAF50;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}
.rounded {
    border-radius: 0.25rem !important;
}
img {
    max-width: 180%;
    height: auto;
    vertical-align: top;
}
.img{
    width: 10%;
}
/* Tạo bốn cột bằng nhau, float cạnh nhau */
.column {
    float: left;
    width: 25%;
    padding: 25px;
}
/*hop tang giam so luong */
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.fa-facebook {  
    background: #103586;  
    color: white;  
}  
.fa-twitter {  
    background: #1c68a1;  
    color: white;  
}  
div.row.align-items-center{
    margin: 3rem auto;
}
#footer {
    background-color: black;
}
li.col-lg-3 >ul>li>a{
    margin-left: 2rem;
}
.row{
    margin-top: 0 !important;
}